.bar {
  list-style: none;
}
.bar >li {
  position: relative;
}
.bar>li:before {
  content: '\25CF';
  margin-right: 5px;
  font-size: 30px;
  color: rgb(138, 91, 4);
  position: relative;
  z-index: 5;
}
.bar>li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px solid black;
  margin-left: 5px;
  height: 85%;
}
.bar >li:first-of-type:after {
  top: 35%;
}
.bar >li:last-of-type:after {
  top: -50%;
}